.App {
  text-align: center;
}

.header {
  background-color: white;
  display: flex;
  /*align-items: center;*/
  font-size: calc(10px + 1vmin);
  color: black;
  padding: 0 20px;;
  border: 1px solid black;
  justify-content: space-between;
}

.nav-items {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-item {
  padding: 0 10px;
  cursor: pointer;
}

.nav-item a {
  color: inherit;
  text-decoration: none;
}

.nav-item:hover {
  color: #f44336;
}

.App-link {
  color: #09d3ac;
}

.button {
  background-color: #f44336; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.TUNED_logo {
  height: 50px;
  position: relative;
  float: left;
}