.imagePreview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    display: inline-block
}

.car_image {
    display: flex;
    flex-basis: auto;
    height: 500px;
}

.car_image_preview {
    flex-basis: auto;
    height: 500px;
}
