.imagePreview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    display: inline-block
}

.car_image {
    display: flex;
    flex-basis: auto;
    height: 500px;
    align-self: center;
    width: 850px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.car_image_preview {
    flex-basis: auto;
    height: 500px;
}
.carInfo {
    display: flex;
    flex-direction: column;
}

.carForm {
    display: flex;
    flex-direction: column;
}