.imagePreview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    display: inline-block
}

.car_image {
    flex-basis: auto;
    height: 500px;
    align-self: center;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    margin: 1%;
}

.car__description {
    text-align: left;
    margin: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.car_image_preview {
    flex-basis: auto;
}
.carInfo {
    display: flex;
    flex-direction: column;
}

.carForm {
    display: flex;
    flex-direction: column;
    margin: 1%;
    justify-content: center;
    margin-top: 3.3%;
    align-items: center;
}


button.showHideGallery {
    left: 500px;
}

img {
    max-width:100%;
    height:auto;
}

.car__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

#carDescriptionForm {
    width: 700px;
    height: 300px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 10%;
    margin-right: 10%;
}

.thumbnailDeleteButton {
    z-index: 10000;
    bottom: 35px;
    left: 10px;
}

#addCarButton {
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
}

#carDescription {
    margin-top: 25%;
    margin-top: 300px;
}

fieldset {
    border: 0;
    width: 50%;
}

.carThumbnailImage {
    object-fit: scale-down;
}

.carThumbnail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.likeButton {
    padding-top: 0%;
    width: 24px;
    height: 24px;
}

.carForm {
    padding-top: 100px;
}
