.event {
    display: flex;
    flex-direction: column;
}

.event_image {
    align-self: center;
    box-shadow: 5px 10px 8px #888888;
}

.map-container {
    position: relative;
    padding-bottom: 26.25%;
    height: 0;
    overflow: hidden;
    width: 500px;
    }
    
    .map-container iframe,
    .map-container object,
    .map-container embed {
    /* position: absolute; */
    align-content: center;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    }

    .button {
        background-color: #f44336; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }

      .event_image {
        flex-basis: auto;
        height: 500px;
    }

    .event {
        display: flex;
        flex-direction: column;
        align-content: center;
    }


    .imagePreview {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .previewImage {
        width: 500px;
    }

    /* img {
        height: 500px;
    } */

    #deleteEventButton {
        margin: auto;
        margin-bottom: 30px;
    }

    .addRemove_Button {
        margin: auto;
        margin-bottom: 1%;
    }

    .editEventButton {
        margin: auto;
        margin-bottom: 1%;
    }

    .eventLocationDate {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 5%;
        left: 100px;
    }

